/*
p{
	font-family:'Times New Roman', Times, serif !important;
}
.col{
	background-color: aqua;
	border: 1px solid red;
}

.btn-primary {
	background-color: red ;
	border-color: red ;
}
@media screen and (min-width: 300px){
	.btn-primary{
		background-color: green;
	}
}
*/
/* mobile and common styles */
body{
	background-color: none;
}
.container{
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
	text-align: center;
}
.item-one{
	visibility: visible;
	text-align: center;
}
.item{
	margin-left: 1rem;
    width: 200px;
    height: 200px;
    margin-bottom: 1rem;
    background-color: red;
    padding: 20px 40px;	
}
footer{
	background: none;
	
}
.gallery-container{
	display: flex;
	padding: 20px 40px;
	justify-content: space-between;
	flex-wrap: wrap;
	

}
.gallery-container > div{
	background-color: blue;
	padding: 20px 40px;
	color: whitesmoke;	 
}

/*

.container{
	display: flex;
	flex-direction: column;
	background-color: aquamarine;
	height: 500px;
}
.item {
	background-color: white;
	height: 100px;
	width: 150px;
	margin: 5px;
}

.item-one{
	visibility: hidden;
}
*/

/* tablet */
/*
@media screen and (min-width: 600px){

	.container{
		flex-direction: row;
	}

	.item-one {
		display: block;
	}
	
}
*/

/* desktop */
/*

@media screen and (min-width: 800px){

	.item{
		background-color: red;
		width: 250px;
	}
	
}
*/